// _layout.sass

.content-wrapper
  // Background with graidnet.
  //
  // Fallback for no gradients.
  background: $background-gradient-top
  background-image: url('/Content/styles/i/hero_background_1.jpg')
  // Image plus gradient
  background-image: url('/Content/styles/i/hero_background_1.jpg'), linear-gradient($background-gradient-top, $background-gradient-bottom)
  // On mobile act differently
  @media all and (max-width: $mq-mobile-landscape)
    background-image: none

  background-size: contain
  background-position: center top
  background-repeat: no-repeat
  min-height: 600px
  margin-bottom: 0
  padding-bottom: $blh
  ba

.content-wrapper .content
  +layout-box
  padding-top: $header-height + $blh

@media all and (max-width: $mq-mobile-landscape)
  h1, .content > h2
    display: none

.mobile-landscape-visibility-check,
.tablet-visibility-check,
.thin-desktop-visibility-check
  display: none
  margin-bottom: 0
  height: 0
  max-height: 0

@media all and (max-width: $mq-thin-desktop)
  .thin-desktop-visibility-check
    display: block
@media all and (max-width: $mq-tablet)
  .tablet-visibility-check
    display: block
@media all and (max-width: $mq-mobile-landscape)
  .mobile-landscape-visibility-check
    display: block
