// _layout.sass

.content-wrapper
  background: $background-gradient-top
  background-image: linear-gradient($background-gradient-top, $background-gradient-bottom)
  +photo-background()
  z-index: 10

.content-wrapper .content
  +layout-box
  padding-top: $header-height + $blh
  position: relative
  z-index: 10

@media all and (max-width: $mq-mobile-landscape)
  h1, .content > h2
    display: none

.mobile-landscape-visibility-check,
.tablet-visibility-check,
.thin-desktop-visibility-check
  display: none
  margin-bottom: 0
  height: 0
  max-height: 0

@media all and (max-width: $mq-thin-desktop)
  .thin-desktop-visibility-check
    display: block
@media all and (max-width: $mq-tablet)
  .tablet-visibility-check
    display: block
@media all and (max-width: $mq-mobile-landscape)
  .mobile-landscape-visibility-check
    display: block
